<div class="center">
  <h1>Company Index</h1>
</div>
<ul class="companies">
	<% @companies.each do |company| %>
		<li>
		<%= link_to "/company/#{company.name}", "/company/#{company.name}" %>
		</li>
	<% end %>
</ul>
